<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Academic ERP</display-name>
  <filter>
    <filter-name>StaticResourceFilter</filter-name>
    <filter-class>connect.StaticResourceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StaticResourceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
	    <location>/app/error.html</location>
  </error-page>
  <servlet>
    <servlet-name>Connect</servlet-name>
    <servlet-class>common.db.Config</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 
   <servlet>
    <servlet-name>SemesterChanger</servlet-name>
    <servlet-class>connect.SemesterChanger</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet> 
  
  <servlet>
      <servlet-name>call</servlet-name>
      <servlet-class>connect.call</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>call</servlet-name>
    <url-pattern>/call/</url-pattern>
    <url-pattern>/call</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>getSessionAttribute</servlet-name>
      <servlet-class>connect.getSessionAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSessionAttribute</servlet-name>
    <url-pattern>/getSessionAttribute/</url-pattern>
    <url-pattern>/getSessionAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>JSONConvertFromFile</servlet-name>
      <servlet-class>connect.JSONConvertFromFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONConvertFromFile</servlet-name>
    <url-pattern>/JSONConvertFromFile/</url-pattern>
    <url-pattern>/JSONConvertFromFile</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>JSONUpdateFile</servlet-name>
      <servlet-class>connect.JSONUpdateFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONUpdateFile</servlet-name>
    <url-pattern>/JSONUpdateFile/</url-pattern>
    <url-pattern>/JSONUpdateFile</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>JSONDeleteFromFile</servlet-name>
      <servlet-class>connect.JSONDeleteFromFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONDeleteFromFile</servlet-name>
    <url-pattern>/JSONDeleteFromFile/</url-pattern>
    <url-pattern>/JSONDeleteFromFile</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>getUser</servlet-name>
      <servlet-class>connect.getUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUser</servlet-name>
    <url-pattern>/getUser/</url-pattern>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>logoutSession</servlet-name>
      <servlet-class>connect.logoutSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutSession</servlet-name>
    <url-pattern>/logoutSession/</url-pattern>
    <url-pattern>/logoutSession</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>removeSessionAttribute</servlet-name>
      <servlet-class>connect.removeSessionAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeSessionAttribute</servlet-name>
    <url-pattern>/removeSessionAttribute/</url-pattern>
    <url-pattern>/removeSessionAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>setSessionAttribute</servlet-name>
      <servlet-class>connect.setSessionAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setSessionAttribute</servlet-name>
    <url-pattern>/setSessionAttribute/</url-pattern>
    <url-pattern>/setSessionAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Home</servlet-name>
      <servlet-class>webapp.mapping.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home/</url-pattern>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>UploadFiles</servlet-name>
      <servlet-class>connect.UploadFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFiles</servlet-name>
    <url-pattern>/UploadFile/</url-pattern>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Submit</servlet-name>
      <servlet-class>connect.Submit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/Submit/</url-pattern>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>webapp.mapping.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login/</url-pattern>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>LoginForm</servlet-name>
      <servlet-class>webapp.mapping.LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm/</url-pattern>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>AdminHome</servlet-name>
      <servlet-class>webapp.mapping.AdminHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome/</url-pattern>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping> 
  <servlet>
      <servlet-name>StudentHome</servlet-name>
      <servlet-class>webapp.mapping.StudentHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentHome</servlet-name>
    <url-pattern>/StudentHome/</url-pattern>
    <url-pattern>/StudentHome</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>TutorHome</servlet-name>
      <servlet-class>webapp.mapping.TutorHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorHome</servlet-name>
    <url-pattern>/TutorHome/</url-pattern>
    <url-pattern>/TutorHome</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
      <servlet-name>Admissions</servlet-name>
      <servlet-class>webapp.mapping.Admissions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admissions</servlet-name>
    <url-pattern>/AdminHome/Admissions/</url-pattern>
    <url-pattern>/AdminHome/Admissions</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>FeeManagement</servlet-name>
      <servlet-class>webapp.mapping.FeeManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeManagement</servlet-name>
    <url-pattern>/AdminHome/FeeManagement/</url-pattern>
    <url-pattern>/AdminHome/FeeManagement</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>PayRoll</servlet-name>
      <servlet-class>webapp.mapping.PayRoll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayRoll</servlet-name>
    <url-pattern>/AdminHome/PayRoll/</url-pattern>
    <url-pattern>/AdminHome/PayRoll</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>Courses</servlet-name>
      <servlet-class>webapp.mapping.Courses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Courses</servlet-name>
    <url-pattern>/AdminHome/Courses/</url-pattern>
    <url-pattern>/AdminHome/Courses</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>TimeTable</servlet-name>
      <servlet-class>webapp.mapping.TimeTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTable</servlet-name>
    <url-pattern>/AdminHome/TimeTable/</url-pattern>
    <url-pattern>/AdminHome/TimeTable</url-pattern>
  </servlet-mapping>
          <servlet>
      <servlet-name>ResultAnalysis</servlet-name>
      <servlet-class>webapp.mapping.ResultAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultAnalysis</servlet-name>
    <url-pattern>/AdminHome/ResultAnalysis/</url-pattern>
    <url-pattern>/AdminHome/ResultAnalysis</url-pattern>
  </servlet-mapping>
           <servlet>
      <servlet-name>LibraryManagement</servlet-name>
      <servlet-class>webapp.mapping.LibraryManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibraryManagement</servlet-name>
    <url-pattern>/AdminHome/LibraryManagement/</url-pattern>
    <url-pattern>/AdminHome/LibraryManagement</url-pattern>
  </servlet-mapping>
             <servlet>
      <servlet-name>AttendanceManagement</servlet-name>
      <servlet-class>webapp.mapping.AttendanceManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceManagement</servlet-name>
    <url-pattern>/AdminHome/AttendanceManagement/</url-pattern>
    <url-pattern>/AdminHome/AttendanceManagement</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>NewAdmission</servlet-name>
      <servlet-class>webapp.mapping.NewAdmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAdmission</servlet-name>
    <url-pattern>/AdminHome/Admissions/NewAdmission/</url-pattern>
    <url-pattern>/AdminHome/Admissions/NewAdmission</url-pattern>
  </servlet-mapping>
       <servlet>
      <servlet-name>ManageCourses</servlet-name>
      <servlet-class>webapp.mapping.ManageCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCourses</servlet-name>
    <url-pattern>/AdminHome/Courses/ManageCourses/</url-pattern>
    <url-pattern>/AdminHome/Courses/ManageCourses</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>ManageSubCourses</servlet-name>
      <servlet-class>webapp.mapping.ManageSubCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSubCourses</servlet-name>
    <url-pattern>/AdminHome/Courses/ManageSubCourses/</url-pattern>
    <url-pattern>/AdminHome/Courses/ManageSubCourses</url-pattern>
  </servlet-mapping>
          <servlet>
      <servlet-name>ManageBEBtechSubCourse</servlet-name>
      <servlet-class>webapp.mapping.ManageBEBtechSubCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBEBtechSubCourse</servlet-name>
    <url-pattern>/AdminHome/Courses/ManageSubCourses/ManageBEBtechSubCourse/</url-pattern>
    <url-pattern>/AdminHome/Courses/ManageSubCourses/ManageBEBtechSubCourse</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>ManageMEMtechSubCourse</servlet-name>
      <servlet-class>webapp.mapping.ManageMEMtechSubCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageMEMtechSubCourse</servlet-name>
    <url-pattern>/AdminHome/Courses/ManageSubCourses/ManageMEMtechSubCourse/</url-pattern>
    <url-pattern>/AdminHome/Courses/ManageSubCourses/ManageMEMtechSubCourse</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>ManageIntermediateSubCourse</servlet-name>
      <servlet-class>webapp.mapping.ManageIntermediateSubCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageIntermediateSubCourse</servlet-name>
    <url-pattern>/AdminHome/Courses/ManageSubCourses/ManageIntermediateSubCourse/</url-pattern>
    <url-pattern>/AdminHome/Courses/ManageSubCourses/ManageIntermediateSubCourse</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>NewAdmissionAcknowledgment</servlet-name>
      <servlet-class>webapp.mapping.NewAdmissionAcknowledgment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAdmissionAcknowledgment</servlet-name>
    <url-pattern>/AdminHome/Admissions/NewAdmission/NewAdmissionAcknowledgment/</url-pattern>
    <url-pattern>/AdminHome/Admissions/NewAdmission/NewAdmissionAcknowledgment</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>ManageAdmissions</servlet-name>
      <servlet-class>webapp.mapping.ManageAdmissions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAdmissions</servlet-name>
    <url-pattern>/AdminHome/Admissions/ManageAdmissions/</url-pattern>
    <url-pattern>/AdminHome/Admissions/ManageAdmissions</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>ViewDetails</servlet-name>
      <servlet-class>webapp.mapping.ViewDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetails</servlet-name>
    <url-pattern>/AdminHome/Admissions/ManageAdmissions/ViewDetails/</url-pattern>
    <url-pattern>/AdminHome/Admissions/ManageAdmissions/ViewDetails</url-pattern>
  </servlet-mapping>
          <servlet>
      <servlet-name>AllotRollNumbers</servlet-name>
      <servlet-class>webapp.mapping.AllotRollNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllotRollNumbers</servlet-name>
    <url-pattern>/AdminHome/Admissions/AllotRollNumbers/</url-pattern>
    <url-pattern>/AdminHome/Admissions/AllotRollNumbers</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>AdminLogout</servlet-name>
      <servlet-class>webapp.mapping.AdminLogout</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout/</url-pattern>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>SetFee</servlet-name>
      <servlet-class>webapp.mapping.SetFee</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetFee</servlet-name>
    <url-pattern>/AdminHome/FeeManagement/SetFee/</url-pattern>
    <url-pattern>/AdminHome/FeeManagement/SetFee</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>SetSalary</servlet-name>
      <servlet-class>webapp.mapping.SetSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary</url-pattern>
  </servlet-mapping>
       <servlet>
      <servlet-name>SetAssistantProfessorSalary</servlet-name>
      <servlet-class>webapp.mapping.SetAssistantProfessorSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetAssistantProfessorSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetAssistantProfessorSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetAssistantProfessorSalary</url-pattern>
  </servlet-mapping>
         <servlet>
      <servlet-name>SetAssociateProfessorSalary</servlet-name>
      <servlet-class>webapp.mapping.SetAssociateProfessorSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetAssociateProfessorSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetAssociateProfessorSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetAssociateProfessorSalary</url-pattern>
  </servlet-mapping>
           <servlet>
      <servlet-name>SetHodSalary</servlet-name>
      <servlet-class>webapp.mapping.SetHodSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetHodSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetHodSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetHodSalary</url-pattern>
  </servlet-mapping>
            <servlet>
      <servlet-name>SetLabAssistantSalary</servlet-name>
      <servlet-class>webapp.mapping.SetLabAssistantSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetLabAssistantSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetLabAssistantSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetLabAssistantSalary</url-pattern>
  </servlet-mapping>
              <servlet>
      <servlet-name>SetLabTechnicianSalary</servlet-name>
      <servlet-class>webapp.mapping.SetLabTechnicianSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetLabTechnicianSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetLabTechnicianSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetLabTechnicianSalary</url-pattern>
  </servlet-mapping>
                <servlet>
      <servlet-name>SetLabProgrammerSalary</servlet-name>
      <servlet-class>webapp.mapping.SetLabProgrammerSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetLabProgrammerSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetLabProgrammerSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetLabProgrammerSalary</url-pattern>
  </servlet-mapping>
                  <servlet>
      <servlet-name>SetCleanerSalary</servlet-name>
      <servlet-class>webapp.mapping.SetCleanerSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetCleanerSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetCleanerSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetCleanerSalary</url-pattern>
  </servlet-mapping>
                    <servlet>
      <servlet-name>SetAttenderSalary</servlet-name>
      <servlet-class>webapp.mapping.SetAttenderSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetAttenderSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetAttenderSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetAttenderSalary</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>SetPeonSalary</servlet-name>
      <servlet-class>webapp.mapping.SetPeonSalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SetPeonSalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetPeonSalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SetSalary/SetPeonSalary</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>FeeReports</servlet-name>
      <servlet-class>webapp.mapping.FeeReports</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>FeeReports</servlet-name>
    <url-pattern>/AdminHome/FeeManagement/FeeReports/</url-pattern>
    <url-pattern>/AdminHome/FeeManagement/FeeReports</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>PaySalary</servlet-name>
      <servlet-class>webapp.mapping.PaySalary</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>PaySalary</servlet-name>
    <url-pattern>/AdminHome/PayRoll/PaySalary/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/PaySalary</url-pattern>
  </servlet-mapping>
       <servlet>
      <servlet-name>SalaryReports</servlet-name>
      <servlet-class>webapp.mapping.SalaryReports</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SalaryReports</servlet-name>
    <url-pattern>/AdminHome/PayRoll/SalaryReports/</url-pattern>
    <url-pattern>/AdminHome/PayRoll/SalaryReports</url-pattern>
  </servlet-mapping>
         <servlet>
      <servlet-name>AssignCourses</servlet-name>
      <servlet-class>webapp.mapping.AssignCourses</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>AssignCourses</servlet-name>
    <url-pattern>/AdminHome/Courses/AssignCourses/</url-pattern>
    <url-pattern>/AdminHome/Courses/AssignCourses</url-pattern>
  </servlet-mapping>
           <servlet>
      <servlet-name>ManageLibraryDatabase</servlet-name>
      <servlet-class>webapp.mapping.ManageLibraryDatabase</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>ManageLibraryDatabase</servlet-name>
    <url-pattern>/AdminHome/LibraryManagement/ManageLibraryDatabase/</url-pattern>
    <url-pattern>/AdminHome/LibraryManagement/ManageLibraryDatabase</url-pattern>
  </servlet-mapping>
             <servlet>
      <servlet-name>SearchBook</servlet-name>
      <servlet-class>webapp.mapping.SearchBook</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/AdminHome/LibraryManagement/SearchBook/</url-pattern>
    <url-pattern>/AdminHome/LibraryManagement/SearchBook</url-pattern>
  </servlet-mapping>
               <servlet>
      <servlet-name>IssueBook</servlet-name>
      <servlet-class>webapp.mapping.IssueBook</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>IssueBook</servlet-name>
    <url-pattern>/AdminHome/LibraryManagement/IssueBook/</url-pattern>
    <url-pattern>/AdminHome/LibraryManagement/IssueBook</url-pattern>
  </servlet-mapping>              
   <servlet>
      <servlet-name>RenewBook</servlet-name>
      <servlet-class>webapp.mapping.RenewBook</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>RenewBook</servlet-name>
    <url-pattern>/AdminHome/LibraryManagement/RenewBook/</url-pattern>
    <url-pattern>/AdminHome/LibraryManagement/RenewBook</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>TakeBookReturn</servlet-name>
      <servlet-class>webapp.mapping.TakeBookReturn</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>TakeBookReturn</servlet-name>
    <url-pattern>/AdminHome/LibraryManagement/TakeBookReturn/</url-pattern>
    <url-pattern>/AdminHome/LibraryManagement/TakeBookReturn</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>UpdateFeePaymentStatus</servlet-name>
      <servlet-class>webapp.mapping.UpdateFeePaymentStatus</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFeePaymentStatus</servlet-name>
    <url-pattern>/AdminHome/FeeManagement/UpdateFeePaymentStatus/</url-pattern>
    <url-pattern>/AdminHome/FeeManagement/UpdateFeePaymentStatus</url-pattern>
  </servlet-mapping>
  
   <servlet>
      <servlet-name>UpdateFeePaymentStatusPage</servlet-name>
      <servlet-class>webapp.mapping.UpdateFeePaymentStatusPage</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFeePaymentStatusPage</servlet-name>
    <url-pattern>/AdminHome/FeeManagement/UpdateFeePaymentStatus/UpdateFeePaymentStatusPage/</url-pattern>
    <url-pattern>/AdminHome/FeeManagement/UpdateFeePaymentStatus/UpdateFeePaymentStatusPage</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>StudentOnlineServices</servlet-name>
      <servlet-class>webapp.mapping.StudentOnlineServices</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>StudentOnlineServices</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineServices/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineServices</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>StudentApplyLostIDCard</servlet-name>
      <servlet-class>webapp.mapping.StudentApplyLostIDCard</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>StudentApplyLostIDCard</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineServices/StudentApplyLostIDCard/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineServices/StudentApplyLostIDCard</url-pattern>
  </servlet-mapping>
  
        <servlet>
      <servlet-name>StudentApplyCustodian</servlet-name>
      <servlet-class>webapp.mapping.StudentApplyCustodian</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>StudentApplyCustodian</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineServices/StudentApplyCustodian/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineServices/StudentApplyCustodian</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>StudentOnlineExaminationPortal</servlet-name>
      <servlet-class>webapp.mapping.StudentOnlineExaminationPortal</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>StudentOnlineExaminationPortal</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal</url-pattern>
  </servlet-mapping>
          <servlet>
      <servlet-name>SearchTests</servlet-name>
      <servlet-class>webapp.mapping.SearchTests</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SearchTests</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/SearchTests/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/SearchTests</url-pattern>
  </servlet-mapping>
          <servlet>
      <servlet-name>TutorOnlineExaminationPortal</servlet-name>
      <servlet-class>webapp.mapping.TutorOnlineExaminationPortal</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>TutorOnlineExaminationPortal</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal</url-pattern>
  </servlet-mapping>
            <servlet>
      <servlet-name>CreateNewTest</servlet-name>
      <servlet-class>webapp.mapping.CreateNewTest</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewTest</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/CreateNewTest/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/CreateNewTest</url-pattern>
  </servlet-mapping>
             <servlet>
      <servlet-name>SubmitQuestions</servlet-name>
      <servlet-class>webapp.mapping.SubmitQuestions</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQuestions</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/CreateNewTest/SubmitQuestions/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/CreateNewTest/SubmitQuestions</url-pattern>
  </servlet-mapping>
             <servlet>
      <servlet-name>TutorPreviousTests</servlet-name>
      <servlet-class>webapp.mapping.TutorPreviousTests</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>TutorPreviousTests</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/TutorPreviousTests/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/TutorPreviousTests</url-pattern>
  </servlet-mapping>
               <servlet>
      <servlet-name>TutorPreviousResults</servlet-name>
      <servlet-class>webapp.mapping.TutorPreviousResults</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>TutorPreviousResults</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/TutorPreviousResults/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/TutorPreviousResults</url-pattern>
  </servlet-mapping>
                 <servlet>
      <servlet-name>ShowResults</servlet-name>
      <servlet-class>webapp.mapping.ShowResults</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>ShowResults</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/TutorPreviousResults/ShowResults/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/TutorPreviousResults/ShowResults</url-pattern>
  </servlet-mapping>
                   <servlet>
      <servlet-name>UpdateQuestions</servlet-name>
      <servlet-class>webapp.mapping.UpdateQuestions</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestions</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/TutorPreviousTests/UpdateQuestions/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineExaminationPortal/TutorPreviousTests/UpdateQuestions</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>StudentRequests</servlet-name>
      <servlet-class>webapp.mapping.StudentRequests</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>StudentRequests</servlet-name>
    <url-pattern>/TutorHome/StudentRequests/</url-pattern>
    <url-pattern>/TutorHome/StudentRequests</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>TutorSendNotifications</servlet-name>
      <servlet-class>webapp.mapping.TutorSendNotifications</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>TutorSendNotifications</servlet-name>
    <url-pattern>/TutorHome/TutorSendNotifications/</url-pattern>
    <url-pattern>/TutorHome/TutorSendNotifications</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>TutorUploadNotes</servlet-name>
      <servlet-class>webapp.mapping.TutorUploadNotes</servlet-class>
      </servlet>
  <servlet-mapping>
    <servlet-name>TutorUploadNotes</servlet-name>
    <url-pattern>/TutorHome/TutorUploadNotes/</url-pattern>
    <url-pattern>/TutorHome/TutorUploadNotes</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>UploadNotes</servlet-name>
      <servlet-class>connect.UploadNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNotes</servlet-name>
    <url-pattern>/UploadNotes/</url-pattern>
    <url-pattern>/UploadNotes</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>UploadForms</servlet-name>
      <servlet-class>connect.UploadForms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadForms</servlet-name>
    <url-pattern>/UploadForms/</url-pattern>
    <url-pattern>/UploadForms</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>UploadNewsLetters</servlet-name>
      <servlet-class>connect.UploadNewsLetters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNewsLetters</servlet-name>
    <url-pattern>/UploadNewsLetters/</url-pattern>
    <url-pattern>/UploadNewsLetters</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>TutorOnlineServices</servlet-name>
      <servlet-class>webapp.mapping.TutorOnlineServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorOnlineServices</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineServices/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineServices</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>TutorApplyLostIDCard</servlet-name>
      <servlet-class>webapp.mapping.TutorApplyLostIDCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorApplyLostIDCard</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineServices/TutorApplyLostIDCard/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineServices/TutorApplyLostIDCard</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>TutorRequestPermission</servlet-name>
      <servlet-class>webapp.mapping.TutorRequestPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorRequestPermission</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineServices/TutorRequestPermission/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineServices/TutorRequestPermission</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>TutorNewsAndEvents</servlet-name>
      <servlet-class>webapp.mapping.TutorNewsAndEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorNewsAndEvents</servlet-name>
    <url-pattern>/TutorHome/TutorNewsAndEvents/</url-pattern>
    <url-pattern>/TutorHome/TutorNewsAndEvents</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>StudentRequestPermission</servlet-name>
      <servlet-class>webapp.mapping.StudentRequestPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRequestPermission</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineServices/StudentRequestPermission/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineServices/StudentRequestPermission</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>DoAndDont</servlet-name>
      <servlet-class>webapp.mapping.DoAndDont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAndDont</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/SearchTests/DoAndDont/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/SearchTests/DoAndDont</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>StartTest</servlet-name>
      <servlet-class>webapp.mapping.StartTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartTest</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/SearchTests/StartTest/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/SearchTests/StartTest</url-pattern>
  </servlet-mapping>
       <servlet>
      <servlet-name>ResultPage</servlet-name>
      <servlet-class>webapp.mapping.ResultPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultPage</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/SearchTests/StartTest/ResultPage/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineExaminationPortal/SearchTests/StartTest/ResultPage</url-pattern>
  </servlet-mapping>
         <servlet>
      <servlet-name>StudentPortal</servlet-name>
      <servlet-class>webapp.mapping.StudentPortal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPortal</servlet-name>
    <url-pattern>/StudentHome/StudentPortal/</url-pattern>
    <url-pattern>/StudentHome/StudentPortal</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>StudentPortalRequest</servlet-name>
      <servlet-class>webapp.mapping.StudentPortalRequest</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>StudentPortalRequest</servlet-name>
    <url-pattern>/StudentHome/StudentPortal/Request/</url-pattern>
    <url-pattern>/StudentHome/StudentPortal/Request</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>StudentDownloads</servlet-name>
      <servlet-class>webapp.mapping.StudentDownloads</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>StudentDownloads</servlet-name>
    <url-pattern>/StudentHome/StudentDownloads/</url-pattern>
    <url-pattern>/StudentHome/StudentDownloads</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>StudentNewsAndEvents</servlet-name>
      <servlet-class>webapp.mapping.StudentNewsAndEvents</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>StudentNewsAndEvents</servlet-name>
    <url-pattern>/StudentHome/StudentNewsAndEvents/</url-pattern>
    <url-pattern>/StudentHome/StudentNewsAndEvents</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>TutorUpdateContent</servlet-name>
      <servlet-class>webapp.mapping.TutorUpdateContent</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>TutorUpdateContent</servlet-name>
    <url-pattern>/TutorHome/TutorUpdateContent/</url-pattern>
    <url-pattern>/TutorHome/TutorUpdateContent</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminUpdateContent</servlet-name>
      <servlet-class>webapp.mapping.AdminUpdateContent</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>AdminUpdateContent</servlet-name>
    <url-pattern>/AdminHome/AdminUpdateContent/</url-pattern>
    <url-pattern>/AdminHome/AdminUpdateContent</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>StudentUpdateContent</servlet-name>
      <servlet-class>webapp.mapping.StudentUpdateContent</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>StudentUpdateContent</servlet-name>
    <url-pattern>/StudentHome/StudentUpdateContent/</url-pattern>
    <url-pattern>/StudentHome/StudentUpdateContent</url-pattern>
  </servlet-mapping>
          <servlet>
      <servlet-name>UpdateStudentQuickLinks</servlet-name>
      <servlet-class>webapp.mapping.UpdateStudentQuickLinks</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>UpdateStudentQuickLinks</servlet-name>
    <url-pattern>/StudentHome/StudentUpdateContent/UpdateStudentQuickLinks/</url-pattern>
    <url-pattern>/StudentHome/StudentUpdateContent/UpdateStudentQuickLinks</url-pattern>
  </servlet-mapping>
           <servlet>
      <servlet-name>UpdateTutorQuickLinks</servlet-name>
      <servlet-class>webapp.mapping.UpdateTutorQuickLinks</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>UpdateTutorQuickLinks</servlet-name>
    <url-pattern>/TutorHome/TutorUpdateContent/UpdateTutorQuickLinks/</url-pattern>
    <url-pattern>/TutorHome/TutorUpdateContent/UpdateTutorQuickLinks</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>UpdateAdminQuickLinks</servlet-name>
      <servlet-class>webapp.mapping.UpdateAdminQuickLinks</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>UpdateAdminQuickLinks</servlet-name>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateAdminQuickLinks/</url-pattern>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateAdminQuickLinks</url-pattern>
  </servlet-mapping>
             <servlet>
      <servlet-name>TutorTrackStatus</servlet-name>
      <servlet-class>webapp.mapping.TutorTrackStatus</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>TutorTrackStatus</servlet-name>
    <url-pattern>/TutorHome/TutorOnlineServices/TutorTrackStatus/</url-pattern>
    <url-pattern>/TutorHome/TutorOnlineServices/TutorTrackStatus</url-pattern>
  </servlet-mapping>
              <servlet>
      <servlet-name>StudentTrackStatus</servlet-name>
      <servlet-class>webapp.mapping.StudentTrackStatus</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>StudentTrackStatus</servlet-name>
    <url-pattern>/StudentHome/StudentOnlineServices/StudentTrackStatus/</url-pattern>
    <url-pattern>/StudentHome/StudentOnlineServices/StudentTrackStatus</url-pattern>
  </servlet-mapping>
                <servlet>
      <servlet-name>IDCardRequests</servlet-name>
      <servlet-class>webapp.mapping.IDCardRequests</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>IDCardRequests</servlet-name>
    <url-pattern>/AdminHome/IDCardRequests/</url-pattern>
    <url-pattern>/AdminHome/IDCardRequests</url-pattern>
  </servlet-mapping>
                  <servlet>
      <servlet-name>CustodianRequests</servlet-name>
      <servlet-class>webapp.mapping.CustodianRequests</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>CustodianRequests</servlet-name>
    <url-pattern>/AdminHome/CustodianRequests/</url-pattern>
    <url-pattern>/AdminHome/CustodianRequests</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>ViewIDCardDetails</servlet-name>
      <servlet-class>webapp.mapping.ViewIDCardDetails</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ViewIDCardDetails</servlet-name>
    <url-pattern>/AdminHome/IDCardRequests/ViewIDCardDetails/</url-pattern>
    <url-pattern>/AdminHome/IDCardRequests/ViewIDCardDetails</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>ViewCustodianDetails</servlet-name>
      <servlet-class>webapp.mapping.ViewCustodianDetails</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ViewCustodianDetails</servlet-name>
    <url-pattern>/AdminHome/CustodianRequests/ViewCustodianDetails/</url-pattern>
    <url-pattern>/AdminHome/CustodianRequests/ViewCustodianDetails</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>AdminUploadFiles</servlet-name>
      <servlet-class>webapp.mapping.AdminUploadFiles</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>AdminUploadFiles</servlet-name>
    <url-pattern>/AdminHome/AdminUploadFiles/</url-pattern>
    <url-pattern>/AdminHome/AdminUploadFiles</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>AdminUploadForms</servlet-name>
      <servlet-class>webapp.mapping.AdminUploadForms</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>AdminUploadForms</servlet-name>
    <url-pattern>/AdminHome/AdminUploadFiles/AdminUploadForms/</url-pattern>
    <url-pattern>/AdminHome/AdminUploadFiles/AdminUploadForms</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>AdminUploadNewsLetters</servlet-name>
      <servlet-class>webapp.mapping.AdminUploadNewsLetters</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>AdminUploadNewsLetters</servlet-name>
    <url-pattern>/AdminHome/AdminUploadFiles/AdminUploadNewsLetters/</url-pattern>
    <url-pattern>/AdminHome/AdminUploadFiles/AdminUploadNewsLetters</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>CourseDetails</servlet-name>
      <servlet-class>webapp.mapping.CourseDetails</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>CourseDetails</servlet-name>
    <url-pattern>/Login/CourseDetails/</url-pattern>
    <url-pattern>/Login/CourseDetails</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>FeeDetails</servlet-name>
      <servlet-class>webapp.mapping.FeeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>FeeDetails</servlet-name>
    <url-pattern>/Login/FeeDetails/</url-pattern>
    <url-pattern>/Login/FeeDetails</url-pattern>
  </servlet-mapping>
       <servlet>
      <servlet-name>SalaryDetails</servlet-name>
      <servlet-class>webapp.mapping.SalaryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>SalaryDetails</servlet-name>
    <url-pattern>/Login/SalaryDetails/</url-pattern>
    <url-pattern>/Login/SalaryDetails</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>ForgotPassword</servlet-name>
      <servlet-class>webapp.mapping.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword/</url-pattern>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>ResetPassword</servlet-name>
      <servlet-class>webapp.mapping.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/Login/ResetPassword/</url-pattern>
    <url-pattern>/Login/ResetPassword</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>UpdateStudentAchievements</servlet-name>
      <servlet-class>webapp.mapping.UpdateStudentAchievements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentAchievements</servlet-name>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateStudentAchievements/</url-pattern>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateStudentAchievements</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>UpdateTutorAchievements</servlet-name>
      <servlet-class>webapp.mapping.UpdateTutorAchievements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTutorAchievements</servlet-name>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateTutorAchievements/</url-pattern>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateTutorAchievements</url-pattern>
  </servlet-mapping>
       <servlet>
      <servlet-name>UpdateTechnicalAndCulturalFests</servlet-name>
      <servlet-class>webapp.mapping.UpdateTechnicalAndCulturalFests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTechnicalAndCulturalFests</servlet-name>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateTechnicalAndCulturalFests/</url-pattern>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateTechnicalAndCulturalFests</url-pattern>
  </servlet-mapping>
         <servlet>
      <servlet-name>UpdateGeneralCirculars</servlet-name>
      <servlet-class>webapp.mapping.UpdateGeneralCirculars</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGeneralCirculars</servlet-name>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateGeneralCirculars/</url-pattern>
    <url-pattern>/AdminHome/AdminUpdateContent/UpdateGeneralCirculars</url-pattern>
  </servlet-mapping>
  </web-app>
  